{% extends "base.njk" %}
{% block main %}
<div class="post-header"><h1>Not found</h1></div>
<article class="prose"><p>That page flew the coop. <a href="/">Head home</a> or browse <a href="{{ site.postsPath }}">all posts</a>.</p></article>
{% endblock %}
